.movieListContainer {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.movieWrapper {
    display: flex;
    align-items: flex-start;
    gap: 1rem;
    background-color: #555252;
    border-radius: 8px;
    padding: 1rem;
}

.movieDetails {
    flex: 1;
    display: flex;
    justify-content: center;
}
