body {
    font-family: Arial, sans-serif;
    background-color: #333;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1200px;
    margin: 50px auto;
    padding: 30px;
    background-color: #4e4c4c;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

form {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

input[type='text'] {
    width: 80%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

button {
    margin-top: 10px;
    height: 40px;
    padding: 10px 15px;
    font-size: 16px;
    background-color: #645e5e;
    color: #fff;
    border: none;
    border-radius: 5px;
    margin-left: 10px;
    cursor: pointer;
}

button:hover {
    background-color: #3a3737;
    color: #000000;
}
